
.welcome-header{
    padding: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text{
    width: 60%;
    opacity: 0.6; /* 글자색 희미하게 */
}

#login-form{
    display: flex;  /* 블럭들이 옆으로 */
    flex-direction: column; /* 모든것들이 밑으로 오기 위해 컬럼으로 모양 잡기 */
    margin: 0px 30px;
}

#login-form input {
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* 맨끝은 opacity 흐림도 */
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out; 
}

/* type 이 submit이 아닐떄만 이 내용이 적용 */
#login-form input:not([type="submit"]){
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus{
    outline: none;  /* 상자 클릭시 outline 안보이게 하는것 */
}

#login-form input:focus{
    border-color: var(--yellow) /* 클릭이벤트 */
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 10px;   
}

#login-form a{
    text-align: center;  /* 인라인 컨텐츠를 줄 상자를 가운데로 정렬하는 기능 */
    text-decoration: none; /* 링크 밑줄 삭제 */
    color: inherit;
    font-size: 13px;
}