
.status-bar{
    display: flex; /* 블럭을 같은줄에 쓸때 사용 */
    justify-content: center;
    padding: 5px 3px;
    position: fixed; 
    width: 100%;
    
}

.status-bar__column{  /* 모든 간격들을 33%씩 간격을 둠 */
    width: 33%;
}

.status-bar__column:first-child span{
    margin-right: 5px;  /* service 랑 wifi 간격 */
}

.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center; /* 아이콘들 정렬 */
}

.status-bar__column .fa-battery-three-quarters{
   margin: 0px 5px; /* 배터리 간격 */

}