.user-component{
    justify-content: space-between;
    margin-right: 10px;
}


.user-component,
.user-component__column:first-child{/* 프로필이미지와 text*/
    display: flex; 
    align-items: center; /* 사진이랑 text의 flex 설정된 부모 요소 */

}

.user-component__img{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 15px;
}

.user-component__title{
    font-weight: 600;
    font-size: 20px;
}


.user-component__subtitle{
    margin-top: 8px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.user-component__img--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__text--not-bold{
    font-weight: 200;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.user-component__time{
    display: flex;
    margin-bottom: 10px;
}

.user-component__text .divider{
    display: flex;
}

.user-component__subtitle-light{
    margin-top: 5px;
    margin-left: 5px;
}
